body {
   overflow-x: hidden;
}

.card-block {
   background: #003C55!important;
}

#card-content:hover {
   border: 1px solid grey;
}

.sampleContent {
   padding: 4em 0 4em 0;
}

.banner {
   background: #fff;
   margin: 0;
   padding: 1em;
}

#navlist {
   margin-left: auto;
}

#main-nav {
   background-color: #007bff;
}

#carousel #carousel-indicators {
   position: absolute;
   bottom: 0;
   left: 0px;
   width: 100%;
   margin: 0;
   left: 0;
   right: 0;
   width: 100%;
}

#carousel-item {
   height: 350px;
}

#carousel-indicators li {
   margin: 0;
   left: 0;
   right: 0;
   width: 200px;
   height: 100px;
   text-indent: unset;
   margin-bottom: 45px;
   background-color: #fff;
}

#carousel-indicators {
   bottom: -50px;
}

#pay-section {
   background-color: #003C55!important;
}

.accordion {
   background-color: #eee;
   color: #444;
   cursor: pointer;
   padding: 18px;
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
   transition: 0.4s;
}

.active,
.accordion:hover {
   border: none;
   outline: none;
}

.panel {
   padding: 0 18px;
   display: none;
   background-color: #eee;
   overflow: hidden;
}

.accordion:after {
   content: '\002B';
   color: #777;
   font-weight: bold;
   float: right;
   margin-left: 5px;
}

.active:after {
   content: "\2212";
}

.footer-section {
   margin-top: -5em;
}

ul.social-network {
   list-style: none;
   display: inline;
   margin-left: 0 !important;
   padding: 0;
}

ul.social-network li {
   display: inline;
   margin: 0 5px;
}

#btn {
   float: right;
   background-color: none;
   border: 1px solid black;
   padding: 8px;
}

#btn:hover {
   background-color: rgb(219, 217, 217);
}

#bord {
   border-bottom: 3px solid #007ac3;
}

#formbtn {
   width: 100%;
   padding: 3%;
}

#card {
   background-color: #00437b;
}

#formtxt {
   color: #fff;
   text-align: left;
   padding-left: 1em;
}

#form-control {
   padding: 6%;
}

.card {
   border: none;
}

#btn2 {
   width: 100%;
   background-color: none;
   border: 1px solid #007ac3;
}

#btn2:hover {
   background-color: rgb(219, 217, 217);
}

.navbar {
   background-color: #eee;
   border: none;
}

.navbar-nav>li>a {
   padding-top: 5px !important;
   padding-bottom: 5px !important;
   color: black
}

.navbar-nav>li>a:hover {
   color: #007ac3 !important;
   ;
}

.navbar {
   min-height: 32px !important
}

.active {
   color: #007ac3 !important;
}

.dropdown-menu {
   z-index: 1001;
}

.header {
   z-index: 999;
}

.dropdown-toggle::after {
   content: none;
}

#cardreg {
   border: 2px solid #007ac3;
}

#crd-header {
   background-color: #007ac3;
}

#form {
   display: table;
}

#p {
   display: table-row;
}

#label {
   display: inline-block;
   width: 150px;
   text-align: right;
}

#crdbody {
   margin-bottom: 10px;
   float: left;
}

#cancelbtn {
   border: 1px solid black;
}

#cancelbtn:hover {
   background-color: rgb(219, 217, 217);
}